---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
---

<Layout title="Welcome to Astro.">
	<main class="m-auto max-w-4xl">
		<Title />
		<ul class="grid grid-cols-2 md:grid-cols-3 gap-3">
			<li>
				<a class="hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl" href="/clean-code">
					<img class="aspect-[389/500] h-full object-cover w-full max-w-full rounded" src="https://images.cdn3.buscalibre.com/fit-in/360x360/23/7d/237d164dfd6d875322265f417643677f.jpg" alt="Libro Clean Code">
				</a>
			</li>
		</ul>
	</main>
</Layout>

 