--- 
import BookItem from "./BookItem.astro";

const books = [
  {
    id: 'clean-code',
    title: 'Clean code blablablablbalabla',
    img: ''
  }
]

---
<ul class="grid grid-cols-2 md:grid-cols-3 gap-3">
  <li>
    <BookItem />
  </li>
</ul> 